.CoursesLeftSide{
    width: 20%;
}
.CoursesRightSide{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

/* @media screen and (max-width: 1020px) {
    .CoursesLeftSide{
        width: 100%;
    }
    .CoursesRightSide{
        width: 100%;
        
    }
    
} */
@media screen and (max-width: 639px) {
    .CoursesRightSide{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .CoursesLeftSide{
        width: 100%;
        text-align: center;
    }
    
    
}